/* Aprendendo CSS usando arquivo separado da página html  */
header{
	background-color: #35b8b0;
	/* Definindo altura */
	height: 60px;
	/* Cria uma margem externa na cor do backgraund
	margin:20px;*/
	padding: 20px;	
	/* Cria uma margem interna*/
}

body{
	background:#000000;
}

footer{
	clear: both;
	background-color: blue;
	height: 50px;
	text-align: center;
	padding: 10px;
}


p{
	color: #FF7F50;
	font-size: 40px;
	font-family: Helvetica, Arial;

}

/* Tirando os espaçamentos padrões de toda 
a pagina com o seletor *  */
*{
	margin: 0;
	padding: 0;	
	font-family: Helvetica, Arial;

}


#div_esqueda{
	background-color: red;
	color:#228B22;
	min-height: 200px;
	width: 60%;
	float: left;
}

#div_direita{
	background-color: yellow;
	min-height: 200px;
	width: 40%;
	float: right;
}

/* class */
.container{
	width: 960px;
	margin: auto;

}
