#menu{
	float: right;
	margin-top: 5px;
}


/*Faz auteração da cor quando o mouse passa nos links dentro do menu*/
#menu a:hover{
	background-color: #FFFFFF	;
	color: #1b9bff;	
}

#main{
	padding: 50px;
	background: linear-gradient(135deg,#35b8b0 0%, #1c799d 100%); 	
}

/* Tirando os espaçamentos padrões de toda 
a pagina com o seletor *  */
*{
	margin: 0;
	padding: 0;	
	font-family: Helvetica, Arial;

}

nav{
	min-height:40px;
	margin-bottom: 0;	
}


footer p{
	color:white;
	
}